@font-face {
  font-family: 'OCR-a';
  src: url('/fonts/OCR-a.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #055e32; 
  color: white;
  font-family: 'OCR-a', sans-serif;
  font-weight: bold;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.home-title {
  font-size: 6em;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'OCR-a', sans-serif;
  text-align: center;
  color: #ffffff;
}

.home-subtitle {
  font-size: 1.3em;
  font-family: 'OCR-a', sans-serif;
  text-align: center;
  font-style: italic;
  flex-direction: column;
  color: #ffffff;
  margin: 0; /* Remove default margin */
  padding: 10px 0; /* Adjust padding if needed */
}

.home-subtitle a {
  color: white;
}

.home-subtitle a:hover {
  color: #00aa00; 
}

.orpheus-bus-image,
.trailhead-image {
  width: 100%;
  height: auto;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.pcb {
  background-image: url('/images/unnamed-3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  padding: 20px;
}

.background-image {
  background-image: url('/images/unnamed-3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it is behind other elements */
}

p {
  color: white;
  font-family: 'OCR-a', sans-serif;
}

a {
  text-decoration: none;
}

.components-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.component-link-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.component-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.component-link-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.end {
  margin-top: 4000px;
  text-align: center;
}

.finish-line {
  width: 100%;
  height: 50px; 
  background: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    white 10px,
    white 20px
  ); 
  margin-top: 20px;
}

/* PROJECT PAGE STYLING BELOW */

.back-button {
  background-color: #073311;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  font-family: 'OCR-a', sans-serif;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #23b445;
}

.project-page {
  margin: 40px;
}

.project-title {
  font-size: 70px;
  margin-top: 20px;
}

.project-image {
  overflow: hidden; 
  position: relative; 
  object-fit: contain;
}

.project-description {
  font-size: 30px; 
}

.project-video {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 3em;
  }

  .home-subtitle {
    font-size: 1em;
  }

  .component-link {
    width: 150px;
  }
  
  .component-link-container {
    top: auto !important;
    left: auto !important;
    position: relative;
    margin: 10px;
  }

  .components-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-title {
    font-size: 40px;
  }

  .project-description {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .home-title {
    font-size: 2em;
  }

  .home-subtitle {
    font-size: 0.8em;
  }

  .component-link {
    width: 100px;
  }

  .project-title {
    font-size: 30px;
  }

  .project-description {
    font-size: 18px;
  }
}